<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>File_manager</title>
    <style>
        * {
            border:1px red solid;
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
    </style>
    <script src="static/js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <link rel="stylesheet" type="text/css" href="static/ztree/css/metroStyle/metroStyle.css"/>
    <script src="static/ztree/js/jquery.ztree.all.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>
    <div id="box">
        <div id="box1">
            文件夹名称:<input type="text" id="newFolderName" name="newFolderName">
            <input id="ok" type="button" value="确定"/>
            <input id="no" type="button" value="取消"/>
        </div>
    </div>
    <div id="file_list" class="left_files">
        <ul id="tree" class="ztree">
        </ul>
    </div>
    <div id="file_information" class="mid_files">
        current:<span id="current">{{currentPath}}</span>
        <ul id="fileOption-ul">
            <li><input type="button" value="new folder"/></li>
            <li><input t2ype="button" value="upload folder"></li>
            <li><input type="button" value="upload file"/></li>
        </ul>
        <ul id="file_details">
            <li class="a">fileName</li>
            <li class="a">createDate</li>
            <li class="a">lastModify</li>
            <li>
                <ul id="file-ul" v-for="file in files" v-if="file.isDir">
                    <li style="display: none">{{file.id}}</li>
                    <li><span id="file-name">{{file.folderName}}</span></li>
                    <li>{{file.createDate}}</li>
                    <li>{{file.lastModify}}</li>
                    <li>...</li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="file_preview" class="right_files">
    </div>
</body>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="static/js/index.js"></script>

</html>
