#file_details li{
    display: inline-block;
    /*width: 20%;*/
}
#files{
    width: 100%;
}
#files ul li{
    display: inline-block;
    line-height: 50px;
    width: 20%;
}
#file-name{
    cursor:pointer;
}
#fileOption-ul li{
    display: inline-block;
}
#file_list{
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
}
#file_information{
    padding: 0 10%;
}
#right-preview{
    /*display: none;*/
    /*position: absolute;*/
    right: 0;
    top: 0;
    width: 400px;
}
#upload_div{
    display: none;
    /*display: inline-block;*/
    height: 150px;
    width: 400px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 300px;
    margin: auto;
}
#file_pond{
    display: none;
}
#upload_region{
    height: 80%;
    weight: 80%;
    border: dodgerblue 2px dashed;
}
#box{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    display: none;
    z-index: 999;
}
#box1{
    width: 250px;
    height: 40px;
    position: fixed;left: 50%; top: 25%;
    margin-left: -250px;
    border: 1px solid #000000;
    background: aliceblue;
}
.a{
    width: 20%;
    display: inline-block;
}
#newFolderName{
    border-style: none;
    border-bottom: 1px blue solid;
}